<!DOCTYPE html>
{% if data %}
    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <title>SQL Execute</title>
        </head>

        <body style="font-size: 21px;">
            <table style="border: 1px solid black; border-collapse: collapse; {% block wide %}{% endblock %};
                   background-color: rgba(100, 100, 100, 0.1); text-align: center;
                   letter-spacing: 1px; line-height: 1.5; margin-left: auto; margin-right: auto;">

                <tr style="border: 1px solid black; font-variant: small-caps;">
                    {% for header in headings %}
                    <th style="border: 1px solid black;">{{ header }}</th>
                    {% endfor %}
                </tr>

                {% for row in data %}
                <tr style="border: 1px solid black;">
                    {% for cell in row %}
                    <td style="border: 1px solid black;">{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </body>

    </html>
{% else %}
    <h1 style='margin-left: 750px;'>No records found on your query.</h1>
{% endif %}
